[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyswisseph = "*"
geopy = "*"
pytz = "*"
timezonefinder = "*"
argparse = "*"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.10"
